*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media  (max-width: 500px) {
    body {
        height: 500px;
    }
}


@media  (max-width: 900px) {
    body {
        height: 850px;
    }
}

.h1{
    color:#ee4c58;
    font-size: 30px;
    text-align: center;
    width: 100%;


  }

.mainDiv{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    margin: auto;
    }

.containerDiv{
    width: 850px;
    height: 850px;
    background-color: black;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    margin: auto;
 }

.scoreBar{
    width: 15%;
    height: 850px;
    background-color:blue;
    position: relative;
    display: flex;
    flex-direction: column;
}

.middleContDiv{
    width:100%;
    height: 33.33%;
    background-color: #00a98f;
    border:1px solid white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: auto;
 }


.playerSquare{
    width : 33.33%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    display: flex;
    position: relative;
}

.player{
    width : 90%;
    height: 90%;
    background-color: #d4c99e;
    margin: auto;
    display: flex;
    position: relative;
    border-radius:50%;
}

.posSquare{
    width:33.33%;
    height: 100%;
    background-color: white;
    margin: auto;
    display: flex;
    border: 1px solid black;
    position: relative;

}


.posSquareCol{
    flex-direction: column;
}


.posSquareR{
    height:33.33%;
    width: 100%;
}

.posSquareRow{
    flex-direction: row;
}

.position{
    flex: 1;
    width: 100%;
    background-color: #d9e0e2;
    margin: auto;
    border: 1px solid white;
    position: relative;
}
.position2{
    height:100%;
}

.positionRow{
    flex-direction: row;
}

.playerYel{
    background-color: yellow;
}

.playerBlu{
    background-color: blue;
}

.playerGre{
    background-color: green;
}

.playerRed{
    background-color: red;
}

.pieces{
    height: 34px;
    width : 34px;
    border-radius: 50%;
    margin: auto;
    border:1px solid black;
}

.dice{
    height: 60px;
    width : 60px;
    margin: auto;
    background-color:transparent;
    display: inline-block;
    margin: 2px;
    font-stretch: 20px;
    color: white;
    background-size: cover;
}

.myButton{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #00b1c1;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px ;
    box-shadow: 0px 17px 10px  -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 150ms;
    display: block;
}

.myButton:hover{
    box-shadow: 0px 26px 26px  0px rgba(0,0,0,0.4);
    transform: translateY(-2px);

}



