*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp','Times new Roman','Helvetica', 'sans-serif';
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
}

@media  (max-width: 500px) {
    body {
        height: 500px;
    }
}


@media  (max-width: 800px) {
    body {
        height: 800px;
    }
}

.h1{
    color:#ee4c58;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-family: 'MedievalSharp','Times new Roman','Helvetica', 'sans-serif';
    margin: 10px;
  }


.h2{
    color:yellow;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 2px;
    font-family: 'MedievalSharp','Times new Roman','Helvetica', 'sans-serif';
  }

.hmain{
    color:yellow;
    font-size: 70px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'MedievalSharp','Times new Roman','Helvetica', 'sans-serif';
  }


.mainDiv{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    }

.containerDiv{
    width: 76%;
    height: 800px;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    margin: auto;
 }

.Bar{
    height: 800px;
    width: 12%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.middleContDiv{
    width:100%;
    height: 33.33%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: auto;
 }


.playerSquare{
    width : 33.33%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.player{
    width : 90%;
    height: 80%;
    margin: auto;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.posSquare{
    width:33.33%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
}


.posSquareCol{
    flex-direction: column;
}


.posSquareR{
    height:33.33%;
    width: 100%;
}

.posSquareRow{
    flex-direction: row;
}

.position{
    flex: 1;
    width: 100%;
    background-color: transparent;
    margin: auto;
    display: flex;
    border: 1px solid white;
    position: relative;
    background-size:100% 100%;
}

.position2{
    height:100%;
}

.positionRow{
    flex-direction: row;
}

.playerYel{
   /* border:1px solid yellow;*/
    color:yellow;
}

.playerBlu{
    /*border:1px solid blue;*/
    color: blue
}

.playerGre{
    /*border:1px solid green;*/
    color : green;
}

.playerRed{
    /*border:1px solid red;*/
    color : red;
}

.pieces{
    height: 30px;
    width : 30px;
    margin: auto;
}

.dice{
    height: 60px;
    width : 60px;
    margin: auto;
    display: inline-block;
    margin: 2px;
    font-stretch: 20px;
    color: white;
    background-size: cover;
}

.myButton{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #00b1c1;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px ;
    box-shadow: 0px 17px 10px  -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 150ms;
    display: block;
}

.myButton:hover{
    box-shadow: 0px 26px 26px  0px rgba(0,0,0,0.4);
    transform: translateY(-2px);

}

.myModal {
    display: none;
    position: fixed;
    background-size: 100% 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0%;
    border: 8px solid silver;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.protector{
    background-color: rgba(255,255,255,0.1);
    border:none;
}

@keyframes shake {
    0%, 50% {
        transform: translate3d(-1px, -1px, -1px);
    }

    10%, 60% {
        transform: translate3d(1px, 1px, 1px);
    }

    20%, 70% {
        transform: translate3d(-4px, -4px, -4px);
    }

    30%, 80% {
        transform: translate3d(4px, 4px, 4px);
    }
    40%, 90% {
        transform: translate3d(-2px, -2px, -2px);
    }
    50%, 100% {
        transform: translate3d(2px, 2px, 2px);
    }
}
